@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    height: 400px;
    object-fit: contain;
    margin: 20px auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-bottom: 20px;
    }
  }
}